hmsbase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="organization" type="organizationType"/>
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element name="street">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Rumyanceva"/>
            <xs:enumeration value="Zaharova"/>
            <xs:enumeration value="Frunze"/>
            <xs:enumeration value="Kozlova"/>
            <xs:enumeration value="Platonava"/>
            <xs:enumeration value="Azgura"/>
            <xs:enumeration value="Chapaeva"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="house">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="12"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="50"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="51"/>
            <xs:enumeration value="21"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="flat" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="15"/>
            <xs:enumeration value="30"/>
            <xs:enumeration value="77"/>
            <xs:enumeration value="38"/>
            <xs:enumeration value="90"/>
            <xs:enumeration value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="streetsType">
    <xs:sequence>
      <xs:element name="street" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Pervomaiskay"/>
            <xs:enumeration value="Zaharova"/>
            <xs:enumeration value="Pulihova"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addressesType">
    <xs:sequence>
      <xs:element type="streetsType" name="streets"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceType">
    <xs:sequence>
      <xs:element name="type" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="dry"/>
            <xs:enumeration value="wet"/>
            <xs:enumeration value="Plastic"/>
            <xs:enumeration value="Food waster"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="surfaceDirection" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="squaremeters" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="50.77"/>
            <xs:enumeration value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="datetime" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="09.03.2022 11:30"/>
            <xs:enumeration value="15.10.2022"/>
            <xs:enumeration value="27.10.2022"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="quantity" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="30.99"/>
            <xs:enumeration value="10.23"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="date" minOccurs="0"/>
      <xs:element name="hieght" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2.8"/>
            <xs:enumeration value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="width" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="20.1"/>
            <xs:enumeration value="70"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="square" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="55.37"/>
            <xs:enumeration value="250.68"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="windowsquantity" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="3"/>
            <xs:enumeration value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="doorsquantity" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="material" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="steel"/>
            <xs:enumeration value="plastic"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="long" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="120.56"/>
            <xs:enumeration value="10.20"/>
            <xs:enumeration value="100.50"/>
            <xs:enumeration value="19.99"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="diametr" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2.54"/>
            <xs:enumeration value="3.15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="place" use="optional"/>
  </xs:complexType>
  <xs:complexType name="servicesType">
    <xs:sequence>
      <xs:element type="serviceType" name="service" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equipmentType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="servicetype"/>
      <xs:element type="xs:string" name="price"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderType">
    <xs:sequence>
      <xs:element name="servicename">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="cleaning"/>
            <xs:enumeration value="repair in/outlet pipes"/>
            <xs:enumeration value="garbage removal"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="addressType" name="address"/>
      <xs:element type="equipmentType" name="equipment" minOccurs="0"/>
      <xs:element type="electroequipmentType" name="electroequipment" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="electroequipmentType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="servicetype"/>
      <xs:element type="xs:string" name="price"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordersType">
    <xs:sequence>
      <xs:element type="orderType" name="order" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="apartmentType">
    <xs:sequence>
      <xs:element name="room">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="square">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="60.54"/>
            <xs:enumeration value="40.10"/>
            <xs:enumeration value="88.25"/>
            <xs:enumeration value="50.30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="addressType" name="address"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="apartmentsType">
    <xs:sequence>
      <xs:element type="apartmentType" name="apartment" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientType">
    <xs:sequence>
      <xs:element name="firstname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Vasya"/>
            <xs:enumeration value="Yulya"/>
            <xs:enumeration value="Lubov"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="lastname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Ivanov"/>
            <xs:enumeration value="Znanina"/>
            <xs:enumeration value="Petrova"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dob">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="01.01.1988"/>
            <xs:enumeration value="06.08.1995"/>
            <xs:enumeration value="01.09.1990"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="apartmentsType" name="apartments"/>
      <xs:element type="vehiclesType" name="vehicles" minOccurs="0"/>
      <xs:element type="childrenType" name="children" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vehicleType">
    <xs:sequence>
      <xs:element name="model">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Polo"/>
            <xs:enumeration value="adult-17"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="adult-25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="brand">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Volkswagen"/>
            <xs:enumeration value="Aist"/>
            <xs:enumeration value="bmw"/>
            <xs:enumeration value="Fitness"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="vehiclesType">
    <xs:sequence>
      <xs:element type="vehicleType" name="vehicle" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="childType">
    <xs:sequence>
      <xs:element name="firstname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Ivan"/>
            <xs:enumeration value="Vova"/>
            <xs:enumeration value="Kolya"/>
            <xs:enumeration value="Nadya"/>
            <xs:enumeration value="Ira"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="lastname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Petrov"/>
            <xs:enumeration value="Mashkin"/>
            <xs:enumeration value="Mashkina"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dob">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="09.02.2013"/>
            <xs:enumeration value="21.06.2016"/>
            <xs:enumeration value="20.05.2014"/>
            <xs:enumeration value="01.05.2008"/>
            <xs:enumeration value="27.10.2011"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="age" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="childrenType">
    <xs:sequence>
      <xs:element type="childType" name="child" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientsType">
    <xs:sequence>
      <xs:element type="clientType" name="client" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workerType">
    <xs:sequence>
      <xs:element name="firstname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Kolya"/>
            <xs:enumeration value="Ivan"/>
            <xs:enumeration value="Katya"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="lastname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Titov"/>
            <xs:enumeration value="Kotov"/>
            <xs:enumeration value="Mashkina"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dob">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="12.10.1993"/>
            <xs:enumeration value="27.01.2001"/>
            <xs:enumeration value="15.03.1980"/>
            <xs:enumeration value="31.12.1997"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="profession">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="piper"/>
            <xs:enumeration value="welder"/>
            <xs:enumeration value="cleaner"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="experience">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="8"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="salary" minOccurs="0"/>
      <xs:element type="addressType" name="address" minOccurs="0"/>
      <xs:element type="vehiclesType" name="vehicles" minOccurs="0"/>
      <xs:element type="childrenType" name="children" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workersType">
    <xs:sequence>
      <xs:element type="workerType" name="worker" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hmsType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="number"/>
      <xs:element type="addressType" name="address"/>
      <xs:element type="addressesType" name="addresses"/>
      <xs:element type="servicesType" name="services"/>
      <xs:element type="ordersType" name="orders"/>
      <xs:element type="clientsType" name="clients"/>
      <xs:element type="workersType" name="workers"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="organizationType">
    <xs:sequence>
      <xs:element type="hmsType" name="hms"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>